@import "tailwindcss";

@theme {
  --color-dark-blue: oklch(21.63% 0.13 264.29);
  --font-arial: "Arial", sans-serif;
  
}

@utility grid-cols-autofit {
  grid-template-columns:repeat(auto-fit, minmax(18rem,1fr))
}


@layer base {
  h1,h2,h3 {
    font-weight: 700;
  }
}

@layer components {
  .button {
    @apply inline-block w-max bg-fuchsia-700 py-3 px-5 hover:bg-fuchsia-600 rounded-full
  }
}