/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

/* OuterBox Css*/
#outer-box{
  background-color: purple;
}

/* InnerBox Css*/
.inner-box{
  background-color: red;
}

/* White-text css */
.white-text{
  color: white;
}
